h1 {
  font-family: 'Trebuchet MS';
  color: gray;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

#container {
  margin: 10px;
  border: 1px solid #ddd;
  width: fit-content;
}

#query-div {
  border: 1px solid #ddd;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-div {
  display: flex;
}

.watched {
  color: green;
  cursor: pointer;
}
.watched:hover {
  color: #888;
}

.unwatched {
  color: #888;
  cursor: pointer;
}
.unwatched:hover {
    color: green;
}


ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0px;
  margin: 25px;
}

li {
  margin: 10px;
  font-size: 18px;
  line-height: 18px;
  list-style: none;
  height: 18px;
  width: 350px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: 'Cabin', sans-serif;
  display: flex;
  justify-content: space-between;
}

input {
  margin: 10px;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: 'Cabin', sans-serif;
  color: #888;
  justify-content: space-around;
}
input:focus {
  color: #333;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 100px;
  margin: 10px 0 0;
  font-family: 'Cabin', sans-serif;
  cursor: pointer;
}
button:hover {
  color: #333;
}
